body {
    background-color: transparent;
    font-family: 'Monserrat', sans-serif;
}

nav {
    margin: 2rem 4rem 1rem;
}

.brand {
    user-select: none;
    font-family: 'Tilt Warp', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
    margin: 1rem;

    /* Hover effect styles */
    padding: 0 10px;
    line-height: 1.4em;
    background:
        linear-gradient(#fff 0 0),
        linear-gradient(#5fff7a 0 0),
        #5fff7a;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    background-size: 100% 50%;
    background-position: -100vmax 100%;
    box-shadow: -100vmax 0.7em 0 0 #ffffff00;
    clip-path: polygon(-100vmax 0, 100% 0, 100% calc(100% + 0.7em), -100vmax calc(100% + 0.7em));
    background-repeat: no-repeat;
    transition: 0.4s, box-shadow 0.3s 0.4s, background-position 0.3s 0.4s;
}

.brand:hover {
    background-position: 0 100%;
    background-size: 100% 100%;
    box-shadow: 0 0.7em 0 0 #5fff7a;
    clip-path: polygon(-100vmax 0, 100% 0, 100% 100%, -100vmax 100%);
    transition: 0.4s, clip-path 0.3s 0.4s, background-size 0.3s 0.4s;
}

.brand a {
    text-decoration: none;
    color: #5fff7a;
}

.brand a:hover {
    color: #000;
    transition: all 0.5s ease-in-out;
}

ul {
    display: block;
    float: right;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 0 1rem;
}

.nav-links {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #f1f1f1;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 0.75rem 0.9rem;
    position: relative;
}

.nav-links:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #117f11;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-links:hover:after {
    width: 100%;
    left: 0;
}

.active {
    border: solid #117f11;
}

#toggle {
    display: none;
}

@media screen and (max-width: 945px) {

    ul {
        display: none;
    }

    .brand {
        text-align: center;
    }

    ul.expanded {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        z-index: 3;
        background-color: #242424;
        left: 70%;
    }

    .hamburger {
        position: absolute;
        top: 5em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
    }

    .hamburger div {
        position: relative;
        width: 3rem;
        height: 7px;
        border-radius: 3px;
        background-color: #e5e5e5;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }

    #toggle:checked+.hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }

    #toggle:checked+.hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }

    #toggle:checked+.hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }

    #toggle:checked+.hamburger+.nav {
        top: 0;
        transform: scale(1);
    }
}

@media screen and (max-width:426px) {
    ul.expanded {
        left: 30%;
    }
}