.main-container {
    text-align: center;
    color: #242424;
}

/* TOP */

.top {

    /* FLex */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    /* Styling */
    background-color: #d5d5d5;
    width: max-content;
    margin: 4rem auto auto;
    padding: 2rem;
    border-radius: 16px;
    width: 85%;
}

.heading-container {
    margin-top: 1rem;
}

.heading {
    font-family: 'Tilt Warp', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
}

.carbon {
    color: #116e11;
}

.hero-image {
    margin: auto;
    border-radius: 16px;
    scale: 1;
    transition: all ease-in-out 0.4s;
    width: 35%;
}

.hero-image:hover {
    scale: 0.9;
    filter: drop-shadow(10px 10px 15px #116e11);
}

.calc-text-container {
    margin: 4rem auto auto;
    padding: auto;
    width: 70%;
}

.calc-text {
    color: #d5d5d5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 769px) {
    .hero-image {
        width: 70%;
    }
}

@media screen and (max-width: 426px) {
    .top {
        flex-direction: column-reverse;
    }
    
    .heading {
        font-size: 2.5rem;
    }

    .calc-text {
        font-size: 1.4rem;
    }
}